
body{
	margin: 0;
	color: #FFF;
	font-family: 'din-2014';
	font-weight: 200;
	overflow-x: hidden;
	background: linear-gradient(180deg, #151e26 60%, #2a2532 97%);
}

nav{
	padding-top: 2.8em;
	text-align: right !important;
}
nav .logo{
	float: left;
	margin-left: 0;
}
.navItem{
	display: inline-block;
	width: auto;
	margin-left: 3em;

	color: #FFF;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.2em;
}

main{
	height: 100%;
	max-width: 1280px;
	margin: 0 auto !important;
}

.grid{
	padding: 0 3%;
	text-align: center;
}
.grid__col{
	text-align: left;
	padding-left: 0;
}

h1{
	text-transform: uppercase;
	font-size: 6.25em;
	font-weight: 800;
	letter-spacing: 0.4em;
}

h2{
	font-size: 3em;
	font-weight: 200;
	line-height: 1.5em;
	letter-spacing: 0.05em;
}

h3{
	margin: 0;
	font-size: 0.75em;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

h5{
	margin: 0;
	font-size: 1.375em;
	font-weight: 200;
}

h6{
	margin: 0;

	font-size: 0.75em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 2.5em; 
	letter-spacing: 0.3em;
}

a{
	width: 17em;
	padding: 1em 0;

	color: #1b1f28;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: 0.3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
}

a.red:hover{
	background-color: #50e2cd;
	transition: 0.2s ease-in-out;
}
a.blue:hover{
	background-color: #ff5555;
	transition: 0.2s ease-in-out;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bgGradient{
	display: block;
	width: 100%;
	height: 100%;
	z-index: -5;	
}

.imgBubble{
	border-radius: 50%;
	position: absolute;
	overflow: hidden;

	transition: 0.5s ease-in-out;
}
.imgBubble video{
	width: 100%;
	position: absolute;
	top: 0;
}

.gridDotsB{
	position: absolute;
	background: url('../assets/gridDotsB.png');
	z-index: -2;
}

.gridDotsS{
	position: absolute;
	background: url('../assets/gridDotsS.png');
	z-index: -2;
}

/*Utility Classes*/
.center{
	text-align: center;
}
.floatR{
	float: right;
}

.red{
	background-color: #ff5555;
}
.lightRed{
	background-color: #f99180;
}
.blue{
	background-color: #50e2cd;
}
.gray{
	background-color: #252f35;
	z-index: -3;
}

.shadow{
	box-shadow: 0 0 50px rgba(14,18,25,0.8);
}

.redTxt{
	color: #ff5555;
}
.blueTxt{
	color: #50e2cd;
}

#header{
}

#header h2{
	text-align: left;
	margin-top: 2.5em;
	margin-bottom: 1.1em;
}

.headerBG{
	width: 100%;
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
}
.headerBG img{
	width: 100%;
	z-index: -3;
}

#trailer{
	z-index: 2;
	box-shadow: 0 0 50px 5px rgba(14,18,25,0.5);

	position: relative;
}

.rotate{
	transform-origin: 0 90%;
	transform: rotate(90deg);
}

/*Cards on Home Page*/
.homeCard{
	height: 34.6em;
	padding: 10% 6%;
	margin: 9em 0;
	position: relative;
	box-sizing: border-box;

	font-size: 1em;
	letter-spacing: 0.01em;
	line-height: 2em;
}

.homeCard .cardBG{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	background-color: #1c1f28;
	box-shadow: 0 0 50px rgba(14,18,25,0.65);
}

.homeCard .cardNum{
	display: inline-block;
	margin: 0;
	text-align: right;
	transform: rotate(90deg) translateX(-23.3em);
}
.homeCard .cardNum svg{
	display: inline-block;
}

.homeCard h1{
	transform: translateX(-12%);
}

.homeCard h2{
	margin: 0;

	font-size: 1.375em;
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 0.01em;
}

.homeCard p{
	max-width: 30em;
	width: 70%;
}

.homeCard a{
	position: absolute;
	bottom: -4.5%;
}

.homeCard .images{
	width: 50%;
	height: 100%;

	position: absolute;
	top: 0;
	right: 0;
}

.results_phone{
	position: relative;
	text-align: center;
}

.results_phone video{
	display: inline-block;
	width: 83%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.results_phone img{
	display: block;
	width: 100%;
	position: relative;
	z-index: 2;
}

.healthCards{
    width: 100%;
    position: absolute;
    top: 58%;
}
.mainCard{
    width: 54% !important;
    position: relative;
}
.card .cardAnim{
    width: 60%;

    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}
.healthCards .card{
    width: 40%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -50%);
}

.healthCards .card:nth-child(1){
	transform: translate(-86%, -48%) rotate(-17deg);
}
.healthCards .card:nth-child(2){
	transform: translate(-14%, -48%) rotate(17deg);
}
.card img{
	display: block;
    width: 100%;
}

#moreAboutTeam{
	margin-top: 8em;
}
#moreAboutTeam a{
	transform: translateY(-25%);
}

footer{
	padding: 0;
	margin-top: 8em;
	margin-bottom: 4em;
}

.footerItem{
	display: inline-block;
	width: 40%;
}
.footerItem li{
	color: #b3b3b3;
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 0.01em;
	text-align: left;
	text-transform: initial;
}
.footerItem a>li{
	color: #FFF;
}
.footerItem a>li:hover{
	text-decoration: underline;
}
.footerItem:nth-child(3){
	width: 18%;
	float: right;

	font-weight: 500;
	text-align: right;
}
.copyright{
	font-size: 1.4em;
	font-weight: 400;
}

/*About Page*/
.aboutSection{
	margin: 4.4em 0;
	position: relative;
}

.aboutSection h1{
	margin-bottom: 0.2em;
}

.aboutSection h2{
	margin-top: 0.4em;
	margin-bottom: 0.8em;
}

.aboutSection p{
	width: 52%;
	margin: 0;
	margin-bottom: 2.2em;

	color: #CCC;
	font-weight: 100;
	font-size: 1.375em;
	line-height: 1.8em;
	letter-spacing: 0.01em;
}

.cardInteraction{
	text-align: center;
}
.cardInteraction .cardWrapper{
	width: 33%;
	position: absolute;
	transform: translateX(-50%);

	transition: 0.2s ease-in-out;
}
.cardInteraction .card{
	width: 100%;
	display: inline-block;
	position: relative;
}
.cardInteraction .cardWrapper.selected{
	transform: translate(-50%, -5em);
	z-index: 2;
}

.sketchfab-embed-wrapper iframe{
	width: 100%;
	height: 30em;
}

.summaryImg{
	width: 48%;
	margin-bottom: 2em;
}
.summaryImg:nth-child(odd){
	margin-right: 4%;
}

tspan{
	font-family: 'din-2014';
}

/*Team Page*/
#meetFLUX{
	position: relative;
	margin-top: 8em;
	margin-bottom: 3.3em;
}
.teamPhoto{
	width: 100%;
}
#meetFLUX h1{
	position: absolute;
}
#meetFLUX #meet{
	bottom: -0.7em;
	left: -3%;
}
#meetFLUX #flux{
	bottom: -2.3em;
	left: 56%;
}

.member{
	display: inline-block;
	width: 100%;
	position: relative;
	color: #FFF;
	overflow: hidden;
	padding: 0;
	margin: 4.1em 0;
}
#team>.grid__col{
	vertical-align: top;
	margin: 0 5%;
}
#team>.grid__col:nth-child(even){
	transform: translateY(14em);
}

.member .name{
	display: inline-block;
	position: absolute;
	top: 1em;
	left: 1.5em;
}
.member .workLink{
	max-width: 10em;
	margin: 0 auto;
	margin-top: 0.8em;

	color: #151e26;
	font-size: 1.375em;
	font-weight: 500;
	line-height: 1.5em;
	letter-spacing: 0.01em;
	text-transform: initial;
}
.member .headshot{
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -2;
}
.member .hoverState{
	margin: 0;
	border-radius: 20em;
	width: 200%;
	height: 150%;

	position: absolute;
	top: -25%;
	left: -50%;
	overflow: hidden;

	transform-origin: center;
	transform: scale(0);
	transition: 0.3s ease-in-out;
}

.hoverState div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;

	transition: 0.2s ease-in-out 0.15s;
}

.member:hover .hoverState{

	transform: scale(1);
}
.member:hover .hoverState div{
	opacity: 1;
}

.imagineInfo{
	font-size: 1em;
	font-weight: 200;
	line-height: 2.3em;
	letter-spacing: 0.15em;
}
.imagineInfo h4{
	font-size: 1.375em;
	line-height: 1.5em;
	margin: 0;
	margin-bottom: 4.5em;
	margin-top: -0.3em;
}
.imagineInfo strong{
	font-weight: 600;
}