body{
	background: linear-gradient(180deg, #151e26 31%, #2a2532 96%);
	margin: 0;
	color: #FFF;
	font-family: 'DIN 2014';
	font-weight: 200;
}

nav{
	padding-top: 2.8em;
	text-align: right !important;
}
nav .logo{
	float: left;
	margin-left: 0;
}
.navItem{
	display: inline-block;
	width: auto;
	margin-left: 3em;

	color: #FFF;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.2em;
}

main{
	display: block;
	max-width: 1280px;
	margin: 0 auto !important;
}

.grid{
	padding: 0 3%;
	text-align: center;
}
.grid__col{
	text-align: left;
	padding-left: 0;
}

h2{
	font-size: 3em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: 0.05em;
}

h5{
	margin: 0;
	font-size: 1.375em;
	font-weight: 200;
}

h6{
	margin: 0;

	font-size: 0.75em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 2.5em; 
	letter-spacing: 0.3em;
}

a{
	width: 17em;
	padding: 1em 0;

	color: #1b1f28;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: 0.3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.imgBubble{
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
}
.imgBubble video{
	width: 100%;
	position: absolute;
	top: 0;
}

/*Utility Classes*/
.center{
	text-align: center;
}
.floatR{
	float: right;
}

.red{
	background-color: #ff5555;
}
.lightRed{
	background-color: #f99180;
}
.blue{
	background-color: #50e2cd;
}
.gray{
	background-color: #252f35;
	z-index: -1;
}

.redTxt{
	color: #ff5555;
}
.blueTxt{
	color: #50e2cd;
}

.headerBG{
	width: 100%;
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
}
.headerBG img{
	width: 100%;
	z-index: -3;
}

#trailer{
	z-index: 2;
	box-shadow: 0 0 50px 5px rgba(14,18,25,0.5);

	position: relative;
	margin-bottom: 11.5em;
}

/*Cards on Home Page*/
.homeCard{
	height: 34.6em;
	padding: 10% 6%;
	margin: 9em 0;
	background-color: #1c1f28;
	position: relative;
	box-sizing: border-box;

	font-size: 1em;
	letter-spacing: 0.01em;
	line-height: 2em;

	box-shadow: 0 0 50px rgba(14,18,25,0.65);
}

.homeCard .cardNum{
	display: inline-block;
	margin: 0;
	transform-origin: 0 90%;
	transform: rotate(90deg) translateX(-23.3em);

	font-size: 0.75em;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.3em;
	text-align: right;
	text-transform: uppercase;
}
.homeCard .cardNum svg{
	display: inline-block;
}

.homeCard h1{
	text-transform: uppercase;
	font-size: 6.25em;
	font-weight: 800;
	letter-spacing: 0.4em;

	transform: translateX(-12%);
}

.homeCard h2{
	margin: 0;

	font-size: 1.375em;
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 0.01em;
}

.homeCard p{
	max-width: 30em;
	width: 70%;
}

.homeCard a{
	position: absolute;
	bottom: -4.5%;
}

.homeCard .images{
	width: 50%;
	height: 100%;

	position: absolute;
	top: 0;
	right: 0;
}
.homeCard .images img{
	position: absolute;
}

#moreAboutTeam{
	margin-top: 8em;
}
#moreAboutTeam a{
	transform: translateY(-25%);
}

footer{
	padding: 0;
	margin-top: 8em;
	margin-bottom: 4em;
}

.footerItem{
	display: inline-block;
	width: 40%;
}
.footerItem li{
	color: #b3b3b3;
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 0.01em;
	text-align: left;
	text-transform: initial;
}
.footerItem a>li{
	color: #FFF;
}
.footerItem a>li:hover{
	text-decoration: underline;
}
.footerItem:nth-child(3){
	width: 18%;
	float: right;

	font-weight: 500;
	text-align: right;
}
.copyright{
	font-size: 1.4em;
	font-weight: 400;
}